<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="contenteditor:showworkflowcommands"
             type="Sitecore.Support.Shell.Framework.Commands.ContentEditor.ShowWorkflowCommands,Sitecore.Support.149150"/>
    </commands>
  </sitecore>
</configuration>